<html>
<head>
  <head>
    <title>Smart Citizen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Tajawal" rel="stylesheet">
    <link href="css/form.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
<body>

  <div class="overlay"></div>
      <div class="overlay"></div>
      <div class="masthead">
        <div class="masthead-bg"></div>
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-12 my-auto">
              <div class="masthead-content text-white py-5 py-md-0">
                <h1 class="mb-3">Smart Citizen</h1>
              </div>
              <div class="input-group input-group-newsletter">
                <form>
                    <div class="row" style="margin-right: 0;margin-left: 0;">
                      <div class="col-sm-6">
                        <h1>Stwórz ankietę!</h1>
                      </div>
                    </div>
                    <div class="row" style="margin-right: 0;margin-left: 0;">
                      <div class="col-sm-6">
                        <div class="inputBox ">
                          <div class="inputText">Twoje pytanie</div>
                          <input type="text" name="" class="input">
                        </div>
                      </div>
                      <div class="row" style="margin-right: 0;margin-left: 0;">
                        <div class="col-sm-6">
                          <div class="inputBox ">
                            <div class="inputText">Adres inwestycji</div>
                            <input type="text" name="" class="input">
                          </div>
                        </div>

                      <div class="col-sm-12">
                      <div class="funkyradio">
                        <div class="funkyradio-default">
                            <input type="radio" name="radio" id="stars" checked/>
                            <label for="stars">Ankieta gwiazdkowa</label>
                        </div>
                        <div class="funkyradio-primary">
                            <input type="radio" name="radio" id="multiple_choice"/>
                            <label for="multiple_choice">Ankieta wielokrotnego wyboru</label>
                        </div>
                    </div>
                    </div>

                    <div class="row" style="margin-right: 0;margin-left: 0;">
                      <div class="col-sm-12">
                        <div class="form-group multiple-form-group" data-max=3>
                          <label>Wpisz swoje propozycje</label>

                          <div class="form-group input-group">
                            <input type="text" name="multiple[]" class="form-control">
                              <span class="input-group-btn"><button type="button" class="btn btn-default btn-add">+
                              </button></span>
                          </div>
                        </div>
                      </div>

                    <div class="row" style="margin-right: 0;margin-left: 0;">
                      <div class="col-sm-12">
                        <input type="submit" name="" class="button" value="Wyślij ankietę!">
                      </div>
                    </div>
                </form>
              </div>
              </div>
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <a href="/">
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="/form">
            <i class="fas fa-pencil-alt"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="/plot">
            <i class="far fa-chart-bar"></i>
          </a>
        </li>
      </ul>
    </div>

<script src="js/vide.js"></script>
<script src="js/form.js"></script>
</body>
</html>
