<html>
<head>
  <head>
    <title>Smart Citizen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Tajawal" rel="stylesheet">
    <link href="css/plot.css" rel="stylesheet">
    <script src="js/bar.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
<body>


  <div class="overlay"></div>


      <div class="overlay"></div>
      <div class="masthead">
        <div class="masthead-bg"></div>
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-12 my-auto">
              <div class="masthead-content text-white py-5 py-md-0">
                <h1 class="mb-3">Smart Citizen</h1>
              </div>
              <div class="row">
                <div class="col-sm-7 col-md-7 col-lg-7 col-xs-12">
                  <div id="chart"></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <a href="/">
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="/form">
            <i class="fas fa-pencil-alt"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="/plot">
            <i class="far fa-chart-bar"></i>
          </a>
        </li>
      </ul>
    </div>
      <script src="js/vide.js"></script>
      <script src="js/plot.js"></script>

</body>
</html>
